<div class='row'>
    <div class='col-sm-12'>
        <div style="margin:2em">
            <h3>You are being redirected to the invoice page. </h3>
            <hr />
            <div style="margin:2em 0">
                <img src="https://cdn.nayathegana.com/media/2025/07/22/952a7f1d269e4699afdf05b568a4807f.png" />
            </div>
            <h4>You can choose to pay either with the balance on your <strong>Khalti Digital Wallet</strong>
                <br />
                or
                <br />
                the e-Banking options provided by your bank
            </h4>
        </div>
    </div>
</div>