<div class='row'>
    <div class='col-sm-12'>
        <div style="margin:2em">
            <h3>You are being redirected to the invoice page. </h3>
            <hr />
            <div style="margin:2em 0">
                <img src="https://khalti-mediakit.s3.ap-south-1.amazonaws.com/brand/khalti-logo-color.200.png" />
            </div>
            <h4>You can choose to pay either with the balance on your <strong>Khalti Digital Wallet</strong>
                <br />
                or
                <br />
                the e-Banking options provided by your bank
            </h4>
        </div>
    </div>
</div>